.circle-xxl-border {
  border-radius: 50%;
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.circle-xxl {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .circle-xxl-border {
    width: 700px;
    height: 700px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .circle-xxl-border {
    width: 945px;
    height: 945px;
  }

}
