@import url("buttons.css");
@import url("circles.css");
@import url("colors.css");
@import url("fonts.css");
@import url("navbar.css");

.container {
  /* width: 100vw !important; */
  margin: 0 auto;
  padding: 16px;
}

@media (min-width: 992px) { 
  .container {
    max-width: 1140px !important;
 }
}